.uk-card {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;

    .uk-card-title {
        margin-top: 0px;
        padding-top: 20px;
        margin-bottom: 0px;
    }

    .uk-card-body {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .uk-card-footer {
        padding-top: 0px;
    }

    .uk-width-auto {
        background-size: contain;
    }
}

.danger {
    background-color: red !important;
}